In [ ]:
#Ans1:
For loops are used when you want to do 
operations on each member of a sequence, 
in order. While loops are used when you 
need to: operate on the elements out-of-order, 
access / operate on multiple elements simultaneously, 
or loop until some condition changes from True to False.

In [1]:
#Ans2:using for loop
sum=0
product=1
i=1
while(i<=10):
    sum+=i
    product*=i
    i+=1
print(sum,product)

55 3628800

In [2]:
#Ans2: using while loop
sum=0
product=1
for i in range(1,11):
    sum+=i
    product*=i
print(sum,product)

55 3628800

In [5]:
#Ans3:
electric_com=int(input('enter the unit of the electric bills'))
if electric_com>300:
                 charge=electric_com-300
                 bill=charge*20
                 electric_com=electric_com-charge
if electric_com>200 and electric_com<=300 :
                 charge=electric_com-200
                 bill=bill+charge*10
                 electric_com=electric_com-charge
if electric_com>100 and electric_com<=200:
                 charge=electric_com-100
                 bill=bill+charge*6
                 electric_com=electric_com-charge
if electric_com<=100 and electric_com>0:
                 charge=electric_com
                 bill=bill+charge*4.5
print(bill)

enter the unit of the electric bills 310

2250.0

In [1]:
#Ans4:
l1=[]
for i in range(1,101):
    j= i**3
    if(j%4==0 or j%5==0):
        l1.append(i)
l1

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

In [7]:
# Ans 5:
s='I want to become a data scientist'
l=['a','e','i','o','u']
count=0
for i in s:
    for j in l:
        if(i.upper()==j.upper()):
            count+=1
print(count)

12